.shape {
	height: 0;
	width: 0;
	border-bottom: 30px solid black;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}

.text {
	color: blueviolet;
	font-size: 19px;

}

.text2 {
	color: rgb(0, 255, 72);
	font-size: 19px;
	font-family: 'Courier New', Courier, monospace;
	font: 700;
}

.error {
	color: white;
	background-color: red;
}